<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Info about our request</h2>

    <h2>Categories</h2>
    <ul>
        <li></li>
    </ul>
    <h3>Add new category</h3>
    <form>
        <label for='name'>Name:</label>:
        <input id='name' type='text' name='name'/>
        <label for='description'>Description:</label>:
        <input id='description' type='text' name='description'/>
        <input type='submit' value='Submit'/>
    </form>
</body>
</html>